html {
  scroll-behavior: smooth;
}

.advice {
  padding-top: 40px;
  background-color: rgb(56, 81, 90);
  text-align: center;
  color: #ff7f50;
  height: auto;
}

.h4{
  font-weight: lighter;
}

h5 {
  color: #969292;
  font-weight: 330 !important;
}

.row {

  height: auto;
  padding: 15px 0 15px 0;
  /* background-image: url(photos/background.jpg); */
  margin: 0px !important;

}


.divikryesor {
  margin: 0 10% 0 10%;
  background-color: rgb(56, 81, 90);
}



.logoks {
  float: left;
  height: 70px;
  padding-left: 50px;
}

.footer {
  text-align: center;
  background-color: rgb(24, 43, 43);
  font-size: 1.5em;
  color: #969292;
  padding-top: 1.5em;
  height: auto;
}

.footer .row {
  background-color: rgb(24, 43, 43);
}

.col {
  font-size: 0.7em;
  color: coral;
  text-align: center;
}

hr {
  background-color: rgb(24, 43, 43);
}



.header {

  background-repeat: no-repeat;
  background-color: #ececec;
  position: fixed;
  z-index: 10;
  width: 70%;
  height: auto;
}

.fa-facebook,
.fa-github,
.fa-envelope {
  color: rgb(69, 88, 88) !important;
  font-size: 3em !important;
  font-size: 3em !important;
}
.fa-home {
  color: orangered !important;
}

.footer-copyright {
  background-color: rgb(14, 26, 26);
  color: rgb(155, 176, 206);
}

.beta {
  width: 100px;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
}
